* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  height: 100vh;
  width: 100vw;

  background-color: hsl(160, 100%, 92%);
}

.header {
  height: 15%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: hsl(160, 100%, 50%);
  border-bottom: 3px solid hsl(159, 80%, 18%);

  font-size: 3rem;
  color: hsl(159, 80%, 18%);
}

.content {
  padding: 5rem 10rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 3rem;

  background-color: hsl(160, 100%, 92%);
}

.board-grid {
  flex-shrink: 0;
  display: grid;

  height: 45rem;
  width: 45rem;

  background-color: hsl(0, 0%, 100%);
  border: 3px solid hsl(159, 80%, 18%);

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.content h2 {
  font-size: 3rem;
  color: hsl(159, 80%, 18%);
}

.cell {
  border: 1px solid hsl(159, 80%, 18%);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 8rem;
  color: hsl(159, 80%, 18%);
}

.cell:hover {
  background-color: rgb(240, 240, 240);
}

.restart-btn {
  display: block;
  padding: 1.5rem 4.5rem;

  background-color: hsl(160, 100%, 50%);
  border: 3px solid hsl(159, 80%, 18%);
  border-radius: 10px;

  font-size: 2rem;
  font-family: inherit;
  font-weight: bold;
  color: hsl(159, 80%, 18%);

  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: fit-content;

  padding: 2rem 3rem;
  background-color: white;
  border-radius: 10px;

  box-shadow: 0.4rem 0.4rem 0.1rem hsl(159, 80%, 18%);
}

.flex-name {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.modal h3 {
  font-size: 2rem;
  font-family: inherit;
  font-weight: bold;
  color: hsl(159, 80%, 18%);
  margin-bottom: 2rem;
}

.player {
  text-align: center;
}

.player p {
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: bold;
  color: hsl(159, 80%, 18%);
  margin-bottom: 0.4rem;
}

.player input {
  padding: 0.4rem;
  outline-color: hsl(159, 80%, 18%);
  border: 2px solid hsl(159, 80%, 18%);
  border-radius: 5px;

  font-weight: bold;
}

.btn {
  display: block;
  padding: 0.7rem 2.1rem;

  background-color: white;
  border-radius: 10px;

  font-size: 2rem;
  font-family: inherit;
  font-weight: bold;
  color: hsl(159, 80%, 18%);

  border: 3px solid hsl(159, 80%, 18%);

  cursor: pointer;
}

.btn:hover {
  transform: scale(95%);
}

.winner {
  font-size: 4rem;
  font-weight: bold;
  color: hsl(159, 80%, 18%);
}

.hidden {
  display: none;
}
